*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header{
    padding: 60px;
    text-align: center;
    background: rgb(184, 189, 195);
    color: white;
}
.navbar{
    display: flex;
    background-color: black;
}
.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    background-color: azure;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: aliceblue;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg{
    background-color: slategray;
    width: 100%;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background: silver;
}
@media  screen and (max-width: 700px) {
    .row, .navbar{
        flex-direction: column;
    }
}